<!-- Card header -->
<div class="card-header pl-0 pr-0 border-bottom">
	<h4 class="card-title mt-3">{{'notes.title' | translate}}</h4>
</div>
<!-- Card body -->
<div class="card-body pt-3">
	<div class="row">
		<div class="col-lg-12 mb-3">
			<form [formGroup]="editNoteForm" (ngSubmit)="onSubmit()" class="bs4-forms">
				<div class="form-group">
					<app-ngx-editor height="100px" minHeight="50px" [placeholder]="''" [spellcheck]="true" formControlName="notes" id="notes"></app-ngx-editor>
				</div>
				<div class="form-group text-right" *ngIf="permission">
					<button type="submit" class="btn btn-submit mb-0">{{'common.update' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
